/* --------------------------NotFound---------------------- */

.gifContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.gif {
  width:300px; 
}

.NotFoundButton {
  padding: 10px 20px;
  background-color: #e9e9e9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* -------------------------------------------------------------- */



.Container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap: 30px;
    padding: 1rem;
    margin-left: 8rem;
  }
  
  .AddToCartButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .AddToCartButton:hover {
    background-color: #0056b3;
  }
  
  .divNoMatch {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 26rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 1rem;
    width: 75%;
  }

  .CartIcon {
    margin-right: 5px;
  }
        @media screen and (max-width: 1366px) and (max-height: 768px) {
          .Container {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 20px;
          padding: 1rem;
          margin-left: 1.8rem;
          /* margin-right: 12%; */
          width: auto;
          }
    
          .AddToCartButton {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
          }
    
          .AddToCartButton:hover {
            background-color: #0056b3;
          }
    
          .CartIcon {
            margin-right: 5px;
          }
        }

/* --------------------------NotFound---------------------- */

.gifContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.gif {
  width:300px; 
}

.button {
  padding: 10px 20px;
  background-color: #e9e9e9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* -------------------------------------------------------------- */