.homeContainer{
    background-color: #09332c;
}

/* .home-container {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    }
    
    .home-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    }
    
    .home-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    } */