.cardContainer {
  width: 250px;
  margin: 1rem;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
}

.cardContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.cardContainer img {
  max-width: 90%;
    height: auto;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 280px;
    border-radius: 5px;
}

.textContainer {
  text-align: center;
  margin-top: 10px;
}

.cardContainer p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.ratingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.ratingContainer span {
  font-size: 1.5rem;
  margin-right: 5px;
}

.starContainer {
  display: inline-flex;
}

.star{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    font-family: "star";
    color: black;
  }

.fullStar {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  font-family: "star";
  color: #fa9703;
}

.star:before {
  content: "★";
}

.fullStar:before {
  content: "★";
}
