body {
  background-color: #f7f7f7;
}

.background {
  background-color: #09332c;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d6be78;
  width: 400px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #e2e2a9;
}

.form-title {
  font-size: 32px;
  margin-bottom: 30px;
  color: #09332c;
}

.form-label {
  font-size: 18px;
  color: #186571;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #186571;
  font-size: 16px;
  color: #09332c;
}

.form-input:focus {
  outline: none;
  border-bottom: 2px solid #d68974;
}

.form-button {
  background-color: #d6be78;
  color: #09332c;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-button:hover {
  background-color: #d68974;
  color: #fff;
}
.error-message {
  font-size: 12px;
  margin-top: 5px;
  color: #d68974;
}
