/* .container {
    margin-top: 20px;
  } */
  
  /* .title {
    font-size: 24px;
    font-weight: bold;
  } */
  
  .review {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    align-content: center;
  }
  
  .username {
    font-size: 18px;
    font-style: normal;
  }
  
  .comment {
    margin-top: 5px;
    font-size: 14px;
  }
  
  /* .starRating {
    margin-top: 5px;
    display: flex;
    align-items: center;
  } */
  
  /* .star-icon {
    color: #ffd700;
    font-size: 20px;
  } */
  
  /* .starLabel {
    margin-left: 5px;
    font-size: 16px;
  }
   */