.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/06/22/01/books-2596809_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif; /* Cambia la fuente a Roboto o a la que prefieras */
  margin: 0;
  padding: 0;
}

.image-container {
  flex: 0; /* La imagen no ocupará espacio adicional en el contenedor */
}

.image {
  max-width: 100%; /* La imagen se ajustará al ancho máximo disponible */
  height: auto; /* La altura se ajustará proporcionalmente */
}

.form-container {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 50px;
  height: 100%;
  width: 33%;
}

.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #09332c;
}

.form-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 1px solid #186571;
  font-size: 16px;
  color: #09332c;
  background-color: transparent; /* Agrega transparencia al fondo del input */
}

.form-input:focus {
  outline: none;
  border-bottom: 2px solid #09332c;
}

.form-button {
  margin-top: 1em;
  background-color: #04ab77;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #117253;
}

.error-message {
  font-size: 12px;
  margin-top: 5px;
  color: #d68974;
}
