.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
  overflow: hidden;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/06/22/01/books-2596809_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
  padding: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #f4f4f4;
  width: 400px;
  height: 100%;
  margin-top: -5em;
  padding: 20px;
  background-color: rgba(244, 244, 244, 0.9); /* Transparencia añadida */
}
.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #09332c;
}
.form-label {
  font-size: 18px;
  color: #186571;
  margin-bottom: 10px;
}


.form-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 1px solid #186571;
  font-size: 16px;
  color: #09332c;
  background-color: transparent;
}

.form-input:focus {
  outline: none;
  border-bottom: 2px solid #09332c;
}


  .form-button {
    background-color: #04ab77;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


.form-button:hover {
  background-color: #117253;
}

.error-message {
  font-size: 12px;
  color: #d68974;
}
.image-container {
  flex: 0; /* La imagen no ocupará espacio adicional en el contenedor */
}

.image {
  max-width: 100%; /* La imagen se ajustará al ancho máximo disponible */
  height: auto; /* La altura se ajustará proporcionalmente */
}
.googleAuth {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.input-container {
  position: relative;
}

.show-password-button {
  position: absolute;
  top: 30%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}





