.search {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .search input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 16px;
  }
  
  .search button {
    padding: 10px 20px;
    border: none;
    background-color: #0077b6;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
  }
  
  .search button:hover {
    background-color: #023e8a;
  }
  
  @media screen and (max-width: 767px) {
    .search input[type="text"] {
      width: 150px;
      font-size: 14px;
    }
  
    .search button {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  