.botones {
  display: flex;
  justify-content: center; /* Ajusta el espacio entre los elementos */
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap; 
}
.cartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra horizontalmente los elementos */

}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Cambia 'center' a 'flex-end' */
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #04ab77;
}
.container2 {
  display: flex;
  align-items: center;
  padding: 10px;
}
.buttonMp {
  background-color: #04ab77;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
  
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center; /* Ajusta el espacio entre los elementos */
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Añade esta propiedad para envolver los elementos en caso de que haya poco espacio horizontal */
}
.icon {
  font-size: 24px;
  color: #555555;
}


.total {
  font-size: 18px;
  text-align: center;
  margin-left: -5px;
}

.productContainer {
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ajusta el valor de la sombra según tus preferencias */
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.totalClear{
  display: flex;
  justify-content: inherit;
  margin-top: 5dvh;
}

.totalContainer {
  margin-left: 24.5dvh;
  margin-right: 2dvh;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  width: 67%;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #04ab77;
}



.totalContainer .icon {
  margin-right: 10px;
}

/* .totalContainer svg {
  margin-right: 10px;
} */

.productContainer img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #186571;
  font-size: 20px;
}
  
.deleteButton:hover {
  transform: scale(1.2);
}


.cleanButton {
    /* background-color: #04ab77;
    color: #ffffff; */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #04ab77;
  font-size: 15px;
}
.buttonIcon {
  margin-right: 5px; /* Ajusta el margen derecho según tus preferencias */
}
  
.emptyCartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
.buttonEmptyCart {
  background-color: #04ab77;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonEmpty.buttonEmptyCart {
  background-color: #117253;
}


.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}


